#inicio {
    background: linear-gradient(63.13deg, #232B2B 20.04%, #65010B 80.05%);
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.separador-apresentacao {
    color: #F7F3E3;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.separador-imagem {
    width: 50%;
}


.foto-circular {
    width: 100%;
    border-radius: 50%;

    /* animation: fotoAnimacao 2.1s infinite alternate-reverse linear; */
}

.apresentacao__nome {
    font-size: 3rem;
    margin-bottom: 10px;
    font-weight: 900;
    
}

.apresentacao__descricao {
    font-size: 1.5rem;
}

.links {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding-top: 2rem;
}

.github__link___img,
.linkedin__link___img {
    width: 86px;
    transition: all 0.3s;
}

.github__link___img:hover,
.linkedin__link___img:hover {
    scale: 1.1;
}

@media screen and (max-width: 700px) {

    #inicio {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .apresentacao__nome {
      font-size: 36px;
    }
    .apresentacao__descricao {
      font-size: 20px;
    }
}

@media (max-width: 560px) {
    .github__link___img,
    .linkedin__link___img {
    width: 50px;
    transition: all 0.3s;
    }
}
