* {
    scroll-behavior: smooth;
}

body {
    background-color: #232B2B;
    font-family: 'Montserrat', sans-serif;
}

.cabecalho {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(179, 182, 183, 10%);
    padding-top: 6px;
    padding-bottom: 6px;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    z-index: 1;
    border-bottom: solid 1px rgba(255, 255, 255, 0.452);


}

.cabecalho .logo {
    width: 2.4rem;
    height: 2.2rem;
    padding-left: 1rem;
}

.menu-lista {
    display: flex;
    justify-content: space-around;
    padding-right: 1rem;
}

.menu-lista-item {
    padding: 10px;
    font-size: 14px;
}

.menu-lista-item-link {
    text-decoration: none;
    text-transform: lowercase;
    color: #F7F3E3;
}

.menu-lista-item-link:hover {
    text-decoration: underline;
}

.ativo {
    font-weight: bold;
}

#inicio {
    background: linear-gradient(63.13deg, #232B2B 51.04%, #65010B 51.05%);
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.separador-apresentacao {
    color: #F7F3E3;
}



/* @keyframes fotoAnimacao {
    from {
        top: -10px;
    }

    to {
        top: 25px;
    }
} */

.foto-circular {
    width: 600px;
    height: 700px;
    border-radius: 50%;
    position: relative;
    /* animation: fotoAnimacao 2.1s infinite alternate-reverse linear; */
}

.apresentacao__nome {
    font-size: 3rem;
    padding-bottom: 10px;
    font-weight: 900;
}

.apresentacao__descricao {
    font-size: 1.5rem;
}

.links {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
}

.github__link___img,
.linkedin__link___img {
    width: 86px;
    transition: all 0.3s;
}


#sobre {
    height: 50vh;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B3B6B7;
}


.descricao-sobre-mim {
    margin-left: 5rem;
    font-size: 20px;
    width: 25%;
}

#sobre h2 {
    font-size: 3rem;
    padding-bottom: 1rem;
    font-weight: 600;
}

#projetos {
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projetos h2 {
    color: #F7F3E3;
    font-size: 3rem;
    padding-bottom: 10px;
    font-weight: 600;
}

.lista-projetos {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.lista-projetos-item {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.lista-projetos-item-link {
    text-decoration: none;
}

.lista-projetos-item-link:hover {
    text-decoration: underline;
    text-decoration-color: #F7F3E3;
}

.lista-projetos-item-link-figure {
    width: 400px;
    height: 300px;
    transition: ease-in-out 0.3s;
}

.lista-projetos-item-link-figure:hover .lista-projetos-item-link-figure-imagem {
    opacity: 50%;
}


.lista-projetos-item-link-figure-imagem {
    width: 100%;
    height: 100%;
}


.lista-projetos-item-link-figure-legenda {
    visibility: hidden;
    opacity: 100% !important;
    color: #FFFFFF;
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lista-projetos-item-link-figure:hover .lista-projetos-item-link-figure-legenda {
    visibility: visible;
}



.texto-projeto {
    color: #F7F3E3;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.texto-projeto h3 {
    font-weight: bold;
}

#ver-mais-button {
    color: #F7F3E3;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 100px;
    background-color: #65010B;
    border-style: none;
    cursor: pointer;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
}

#ver-mais-button:hover {
    border: 1px solid #F7F3E3;
}

#ver-mais-button:active {
    font-weight: bold;
}

#habilidades {
    background: linear-gradient(116.87deg, #65010B 51.4%, #B3B6B7 49.05%);
    height: 78vh;
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.separador-icones {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista-habilidades {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    flex-wrap: wrap;
    width: 50%;
}

.lista-habilidades-block {
    width: 100px;
    height: 100px;
    background-color: #F7F3E3;
    border: 2px solid #F7F3E3;
    border-radius: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.5s;
}

.lista-habilidades-block:hover {
    background-color: #F7F3E3;
    cursor: pointer;
    scale: 1.1;
}

.separador-descricao {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

#habilidades h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.habilidades-descricao {
    font-size: 20px;
    width: 60%;
    
}

@media screen and (max-width: 950px) {

    #inicio,
    #sobre,
    #projetos {
        flex-direction: column;
    }

    #inicio {
        flex-direction: column-reverse;
    }

    #inicio img {
        width: 20px;
    }
}