* {
    scroll-behavior: smooth;
}

body {
    background-color: #232B2B;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1024px) {
    body {
        margin-left: 1rem;
        
    }
}